.home-container{
    font-family: 'Raleway', sans-serif;
    height: 100%;
    width: 100%;
}
.home-sub_header{
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    color: #7E6227;
    font-weight: 600;
}
.home-btn{
    position: relative;
    width: 100%;
    min-height: 80px;
    border-radius: 0.3rem;
    border: 1px solid #7E6227;
    padding-left: 2px;
    padding-right: 2px;

}
.home-height{
    min-height: 55%;
}

.home-bg {
    background-color:  rgb(248, 238, 220);
}