.mobile-container {
    font-family: 'Raleway', sans-serif;
    background-color: #7E6227; 
    width: 50%;
    position: fixed;
    z-index: 1000;
    position: relative;
    height: 70%;
    border-radius: 20px;
  }

  @media (min-width: 640px) and (max-width: 1006px) {
    .mobile-container {
        width: 80%;
    }
}

  @media (min-width: 200px) and (max-width: 639px) {
    .mobile-container {
        width: 80%;
    }
}
  .mobile-sub-container {
    margin-top: 20px;
    margin-left: 20px
  }
  .mobile-input-text {
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }
  .mobile-input-date {
    position: relative;
    display: block;
    margin-bottom: 30px;
    width: 100%;
  }
  .mobile-create {
    padding-right: 10px;
  }
  .mobile-todo-create {
    display: block;
    margin-top: 40px;
    margin-left: 40%;
    
  }
  .create{
    background-color: black;
    color: white;
    padding: 20px;
    width: 60px;
    height: 40px;
  }

  .input-header {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 600;
}