.mobile-followup-container {
    font-family: 'Raleway', sans-serif;
    background-color: #7E6227; 
    width: 80%;
    position: fixed;
    z-index: 1000;
    position: relative;
    height: 80%;
    border-radius: 0.4rem;
  }
  .mobile-evangelism-container {
    font-family: 'Raleway', sans-serif;
    background-color: #7E6227; 
    position: fixed;
    z-index: 1000;
    position: relative;
    height: 72%;
    border-radius: 0.4rem;
  }

  @media (min-width: 640px) and (max-width: 1006px) {
    .mobile-container {
        width: 80%;
    }
}

  @media (min-width: 200px) and (max-width: 639px) {
    .mobile-container {
        width: 80%;
    }
}
  .mobile-sub-container {
    margin-top: 20px;
    margin-left: 20px
  }
  .mobile-input-text {
    display: block;
    margin-bottom: 0px;
    width: 100%;
    background: hsl(39, 67%, 92%);;

  }
  .mobile-input-name {
    position: relative;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    background: rgb(248, 238, 220);;
  }

  .mobile-input-duration {
    position: relative;
    display: block;
    margin-bottom: 10px;
    width: 80%;
    background: rgb(248, 238, 220);;
  }
  .mobile-input-status {
    position: relative;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    background: rgb(248, 238, 220);;
  }
  .mobile-input-time {
    width: 100%;
    background: rgb(248, 238, 220);;
  }

  .mobile-input-phone {
    position: relative;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    background: rgb(248, 238, 220);;
  }
  .mobile-input-topic {
    position: relative;
    display: block;
    width: 100%;
    background: rgb(248, 238, 220);;
  }
  .mobile-create {
    padding-right: 10px;
  }
  .mobile-todo-create {
    display: block;
    margin-top: 40px;
    margin-left: 40%;
    
  }
  .create{
    background-color: black;
    color: white;
    padding: 20px;
    width: 60px;
    height: 40px;
  }

  .input-header {
    font-family: 'Raleway', sans-serif;
    color: rgb(248, 238, 220);;
    font-weight: 600;
}
.texts{
  color: rgb(248, 238, 220);
}